{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="pub" itemscope itemtype="http://schema.org/CreativeWork">

  {{ partial "page_header.html" . }}

  <div class="article-container">

    {{ if .Params.description }}
    <h3>{{i18n "description"}}</h3>
    <p class="pub-abstract" itemprop="text">{{ .Params.description | markdownify }}</p>
    {{ end }}

    <div class="d-sm-none space-below"></div>

    <div class="space-below"></div>

    <div class="article-style">{{ .Content }}</div>

  </div>
</div>

{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
