<div class="pub-list-item" style="margin-bottom: 1rem" itemscope itemtype="http://schema.org/Event">
  <i class="fas fa-calendar-alt pub-icon" aria-hidden="true"></i>
  <span itemprop="name"><a href="/meetings">{{ .Title }}</a></span>
  <div itemprop="startDate">
    {{ $date1 := .Params.time_start | default .Date }}
    {{ $date2 := .Params.time_end | default .Date }}
    {{ (time $date1).Format $.Site.Params.date_format }}
    <br>
    {{ if $.Site.Params.talks.time }}
      {{ (time $date1).Format ($.Site.Params.time_format | default "3:04 PM") }}
      -
      {{ (time $date2).Format ($.Site.Params.time_format | default "3:04 PM") }}
    {{ end }}
  </div>
  <div class="talk-metadata">
    {{ if .Params.event_short }}
        {{ .Params.event_short | markdownify }}
    {{ else if .Params.event }}
            {{ .Params.event | markdownify }}
    {{ end }}
  </div>
  <div>
    {{.Params.location}}
  </div>
  <div class="btn-links">
    {{ partial "page_links" (dict "content" . "is_list" 1) }}
  </div>
</div>
